<html>
    <head>
        <title>Monolithe Forum App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        
        <div class="container" id="app" v-if="topic">
            <div class="card my-3">
                <div class="card-header">
                    <h4 class="card-title lead"><b>{{ topic.title.replace(topic.title[0],topic.title[0].toUpperCase()) }}</b>, <small><em>créé le {{topic.createdAt}}</em>, par {{ author }}</small></h4>
                </div>
                <div class="card-body">

                    <div class="alert alert-warning text-center" v-if="posts.length === 0">
                        <span>Il n'y a pas encore de post(s).</span>
                    </div>

                    <div class="card mb-3" v-for="post in posts" v-if="loaded">
                        <div class="card-header">
                            <div class="card-title">Par <b>{{ post.postAuthor }}</b>, le {{ post.createdAt }}</div>
                        </div>
                        <div class="card-body">
                            <p>{{post.message}}</p>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="my-3">
                        <input type="text" class="form-control" v-model="newPost" @keyup.enter="addPost" placeholder="Ecrivez un message et appuyez sur entrée">
                    </div>
                    <a href="/" class="btn btn-secondary w-100">Retour aux sujets</a>
                </div>
            </div>
            
        </div>

        <script>
            let vue = new Vue({
                el: "#app",
                data: {
                    me: undefined,
                    topic: undefined,
                    author: undefined,
                    posts: [],
                    newPost: "",
                    loaded: false
                },

                async mounted(){
                    try{
                        const urlParams = new URLSearchParams(window.location.search);
                        const topic_id = urlParams.get('id');
                        
                        this.topic = (await axios.get("/api/topics/" + topic_id)).data;
                        this.author = (await axios.get("/api/users/" + this.topic.user_id)).data.username;
                        this.posts = (await axios.get("/api/topics/" + topic_id + "/posts")).data;
                        for(let i = 0; i < this.posts.length; i++){
                            this.posts[i].postAuthor = (await axios.get("/api/users/" + this.posts[i].user_id)).data.username; 
                        }

                        this.loaded = true;
                    }
                    catch(e){

                    }
                },

                methods: {
                    async addPost(){
                        try{
                            let post = (await axios.post("/api/posts", {
                                message: this.newPost,
                                topic_id: this.topic.id
                            })).data;

                            post.postAuthor = (await axios.get("/api/users/" + post.user_id)).data.username; 

                            this.posts.push(post);
                            this.newPost = "";
                        }
                        catch(e){

                        }
                    }
                }
            })
        </script>

    </body>

</html>